<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="dotnet10" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet10/nuget/v3/index.json" />
    <add key="darc-pub-maui" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/darc-pub-dotnet-maui-d15964ef/nuget/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
      <package pattern="Microsoft.Maui.*" />
      <package pattern="Microsoft.AspNetCore.Components.WebView.*" />
    </packageSource>
    <packageSource key="dotnet10">
      <package pattern="Microsoft.Maui.Essentials.AI" />
      <package pattern="Microsoft.Maui.DevFlow.*" />
      <package pattern="Microsoft.Maui.Cli" />
    </packageSource>
    <packageSource key="darc-pub-maui">
      <package pattern="Microsoft.Maui.*" />
      <package pattern="Microsoft.AspNetCore.Components.WebView.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
